In [9]:
#-------------------------------------------------------------------------------------------------------------------------------
import pandas as pd                                                 # Importing for panel data analysis
from pandas_profiling import ProfileReport                          # Import Pandas Profiling (To generate Univariate Analysis) 
pd.set_option('display.max_columns', None)                          # Unfolding hidden features if the cardinality is high      
pd.set_option('display.max_colwidth', None)                         # Unfolding the max feature width for better clearity      
pd.set_option('display.max_rows', None)                             # Unfolding hidden data points if the cardinality is high
pd.set_option('mode.chained_assignment', None)                      # Removing restriction over chained assignments operations
pd.set_option('display.float_format', lambda x: '%.5f' % x)         # To suppress scientific notation over exponential values
#-------------------------------------------------------------------------------------------------------------------------------
import numpy as np                                                  # Importing package numpys (For Numerical Python)
#-------------------------------------------------------------------------------------------------------------------------------
import io
import matplotlib.pyplot as plt                                     # Importing pyplot interface using matplotlib
from matplotlib.pylab import rcParams                               # Backend used for rendering and GUI integration                                               
import seaborn as sns                                               # Importin seaborm library for interactive visualization
%matplotlib inline
#-------------------------------------------------------------------------------------------------------------------------------
from sklearn.metrics import accuracy_score                          # For calculating the accuracy for the model
from sklearn.metrics import precision_score                         # For calculating the Precision of the model
from sklearn.metrics import recall_score                            # For calculating the recall of the model
from sklearn.metrics import precision_recall_curve                  # For precision and recall metric estimation
from sklearn.metrics import confusion_matrix                        # For verifying model performance using confusion matrix
from sklearn.metrics import f1_score                                # For Checking the F1-Score of our model  
from sklearn.metrics import roc_curve                               # For Roc-Auc metric estimation
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import mean_absolute_error
#-------------------------------------------------------------------------------------------------------------------------------
from sklearn.model_selection import train_test_split                # To split the data in training and testing part     
from sklearn.linear_model import LogisticRegression                 # To create the Logistic Regression Model
#-------------------------------------------------------------------------------------------------------------------------------
import warnings                                                     # Importing warning to disable runtime warnings
warnings.filterwarnings("ignore")                                   # Warnings will appear only once

In [8]:
# Upgrading pandas profiling to the latest version
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\administrator\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (0.11.0)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (3.3.2)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (5.3.1)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (4.50.2)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: visions[type_image_path]==0.7.1 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (0.7.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (2.11.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (1.19.2)
Requirement already satisfied: phik>=0.11.1 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: missingno>=0.4.2 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (1.1.3)
Requirement already satisfied: scipy>=1.4.1 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (1.5.2)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (0.1.0)
Requirement already satisfied: joblib in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (0.17.0)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (1.8.2)
Requirement already satisfied: requests>=2.24.0 in c:\users\administrator\anaconda3\lib\site-packages (from pandas-profiling) (2.24.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\administrator\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\administrator\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\administrator\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (8.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\administrator\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\administrator\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\administrator\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.1)
Requirement already satisfied: attrs>=19.3.0 in c:\users\administrator\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (20.3.0)
Requirement already satisfied: multimethod==1.4 in c:\users\administrator\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.4)
Requirement already satisfied: bottleneck in c:\users\administrator\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.3.2)
Requirement already satisfied: networkx>=2.4 in c:\users\administrator\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (2.5)
Requirement already satisfied: imagehash; extra == "type_image_path" in c:\users\administrator\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (4.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\administrator\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas-profiling) (1.1.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\administrator\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2020.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\administrator\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (3.7.4.3)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\administrator\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\administrator\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\administrator\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.10)
Requirement already satisfied: six in c:\users\administrator\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas-profiling) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\administrator\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.1->pandas-profiling) (4.4.2)
Requirement already satisfied: PyWavelets in c:\users\administrator\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.7.1->pandas-profiling) (1.1.1)

In [6]:
# Read train data
customer_data = pd.read_csv("c:/WORLDHAPPINESS _train_data.csv")
#dftrain.shape
#dftrain.describe
customer_data.head()

,Country name,year,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,ID,Life Ladder
0,Jordan,2008,9.34300,0.76600,64.22000,nan,-0.12700,0.70900,0.66900,0.33100,862,4.93000
1,Estonia,2013,10.29900,0.90100,67.48000,0.75400,-0.20100,0.72600,0.70200,0.19900,534,5.36700
2,Sweden,2018,10.88100,0.93100,72.60000,0.94200,0.07700,0.26300,0.82300,0.16100,1649,7.37500
3,Tajikistan,2006,7.55400,0.72400,60.64000,0.70200,-0.08800,0.76800,0.56600,0.19500,1682,4.61300
4,Kuwait,2014,10.94500,nan,65.80000,nan,nan,nan,nan,nan,925,6.18000

In [5]:
customer_data.describe(include='all')

,Country name,year,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,ID,Life Ladder
count,1559,1559.00000,1533.00000,1549.00000,1522.00000,1537.00000,1488.00000,1473.00000,1542.00000,1545.00000,1559.00000,1559.00000
unique,165,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
top,Jordan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
freq,15,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
mean,NaN,2013.13149,9.36300,0.81269,63.33168,0.74188,0.00034,0.74825,0.70855,0.26764,974.96280,5.46932
std,NaN,4.20603,1.16024,0.11876,7.47831,0.14233,0.16338,0.18671,0.10803,0.08443,562.02311,1.11328
min,NaN,2005.00000,6.63500,0.29000,32.30000,0.26000,-0.33500,0.03500,0.32200,0.08300,0.00000,2.37500
25%,NaN,2010.00000,8.46000,0.75300,58.34000,0.64600,-0.11300,0.69100,0.62300,0.20600,494.50000,4.64950
50%,NaN,2013.00000,9.45600,0.83500,65.18000,0.76300,-0.02500,0.80400,0.72100,0.25800,973.00000,5.37400
75%,NaN,2017.00000,10.33200,0.90500,68.53500,0.85500,0.09100,0.87300,0.79800,0.31900,1459.50000,6.27250
max,NaN,2020.00000,11.64800,0.98700,77.10000,0.98500,0.69800,0.98300,0.94400,0.70500,1948.00000,8.01900

In [4]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1559 entries, 0 to 1558
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      1559 non-null   object
 1   year                              1559 non-null   int64
 2   Log GDP per capita                1533 non-null   float64
 3   Social support                    1549 non-null   float64
 4   Healthy life expectancy at birth  1522 non-null   float64
 5   Freedom to make life choices      1537 non-null   float64
 6   Generosity                        1488 non-null   float64
 7   Perceptions of corruption         1473 non-null   float64
 8   Positive affect                   1542 non-null   float64
 9   Negative affect                   1545 non-null   float64
 10  ID                                1559 non-null   int64
 11  Life Ladder                       1559 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 146.3+ KB

In [8]:
profile =ProfileReport(customer_data,title = "dfTrain Profiling")
profile.to_file(output_file="WorldHappiness_profiling_before_preprocessing.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=25.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [10]:
# Convert  data into Dataframe
df = pd.DataFrame(customer_data)
df = df.drop(['Country name','ID'], axis = 1)
df.head()

,year,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Life Ladder
0,2008,9.34300,0.76600,64.22000,nan,-0.12700,0.70900,0.66900,0.33100,4.93000
1,2013,10.29900,0.90100,67.48000,0.75400,-0.20100,0.72600,0.70200,0.19900,5.36700
2,2018,10.88100,0.93100,72.60000,0.94200,0.07700,0.26300,0.82300,0.16100,7.37500
3,2006,7.55400,0.72400,60.64000,0.70200,-0.08800,0.76800,0.56600,0.19500,4.61300
4,2014,10.94500,nan,65.80000,nan,nan,nan,nan,nan,6.18000

In [11]:
# Creating dummy variables
df = pd.get_dummies(df)
df['Social support'] = df['Social support'].fillna(0)
df['Freedom to make life choices'] = df['Freedom to make life choices'].fillna(0)
df['Generosity'] = df['Generosity'].fillna(0)
df['Perceptions of corruption'] = df['Perceptions of corruption'].fillna(0)
df['Positive affect'] = df['Positive affect'].fillna(0)
df['Negative affect'] = df['Negative affect'].fillna(0)
df['Log GDP per capita'] = df['Log GDP per capita'].fillna(0)
df['year'] = df['year'].fillna(0)
df['Healthy life expectancy at birth'] = df['Healthy life expectancy at birth'].fillna(0)
df.head()

,year,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Life Ladder
0,2008,9.34300,0.76600,64.22000,0.00000,-0.12700,0.70900,0.66900,0.33100,4.93000
1,2013,10.29900,0.90100,67.48000,0.75400,-0.20100,0.72600,0.70200,0.19900,5.36700
2,2018,10.88100,0.93100,72.60000,0.94200,0.07700,0.26300,0.82300,0.16100,7.37500
3,2006,7.55400,0.72400,60.64000,0.70200,-0.08800,0.76800,0.56600,0.19500,4.61300
4,2014,10.94500,0.00000,65.80000,0.00000,0.00000,0.00000,0.00000,0.00000,6.18000

In [12]:
# Spliting data in train test for modeling
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, df['Life Ladder'], test_size=0.25, random_state=0)
x_train = x_train.drop('Life Ladder', 1)
x_test = x_test.drop('Life Ladder', 1)

In [13]:
# Declaring LR
from sklearn.linear_model import LinearRegression
# all parameters not specified are set to their defaults
linear_regression = LinearRegression()

In [14]:
# Running model to fit training dataset
reg = LinearRegression().fit(x_train, y_train)
reg.score(x_train, y_train)

0.6149935982971682

In [15]:
# make predictions
x_test_result = reg.predict(x_test)
# evaluate predictions
mae = mean_absolute_error(y_test, x_test_result)
print('MAE: %.3f' % mae)

MAE: 0.563

In [20]:
# Read test data
individuals_data = pd.read_csv("c:/WORLDHAPPINESS _test_data.csv")
# Dataset is now stored in a Pandas Dataframe
individuals_data.head()

,Country name,year,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,ID
0,Spain,2020,10.48800,0.93500,75.00000,0.78300,-0.12100,0.73000,0.68600,0.31700,1614
1,Poland,2017,10.31400,0.88200,68.90000,0.83100,-0.12200,0.63900,0.67700,0.20300,1405
2,Lebanon,2012,9.80000,0.71300,65.36000,0.62100,-0.00600,0.85600,0.49900,0.33900,974
3,Malaysia,2011,9.96600,0.77000,65.76000,0.84000,-0.01600,0.84200,0.88700,0.15500,1055
4,Canada,2020,10.73000,0.93100,74.00000,0.88700,0.05000,0.43400,0.79600,0.30700,307

In [21]:
df = pd.DataFrame(individuals_data)
selected_columns = df[["ID"]]
new_df = selected_columns.copy()
df = df.drop(['Country name','ID'], axis = 1)

In [22]:
# Creating dummy variables
df = pd.get_dummies(df)
df['Social support'] = df['Social support'].fillna(0)
df['Freedom to make life choices'] = df['Freedom to make life choices'].fillna(0)
df['Generosity'] = df['Generosity'].fillna(0)
df['Perceptions of corruption'] = df['Perceptions of corruption'].fillna(0)
df['Positive affect'] = df['Positive affect'].fillna(0)
df['Negative affect'] = df['Negative affect'].fillna(0)
df['Log GDP per capita'] = df['Log GDP per capita'].fillna(0)
df['year'] = df['year'].fillna(0)
df['Healthy life expectancy at birth'] = df['Healthy life expectancy at birth'].fillna(0)
df.head()

,year,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,2020,10.48800,0.93500,75.00000,0.78300,-0.12100,0.73000,0.68600,0.31700
1,2017,10.31400,0.88200,68.90000,0.83100,-0.12200,0.63900,0.67700,0.20300
2,2012,9.80000,0.71300,65.36000,0.62100,-0.00600,0.85600,0.49900,0.33900
3,2011,9.96600,0.77000,65.76000,0.84000,-0.01600,0.84200,0.88700,0.15500
4,2020,10.73000,0.93100,74.00000,0.88700,0.05000,0.43400,0.79600,0.30700

In [23]:
# make predictions
prediction_result = reg.predict(df)

In [24]:
new_df.head()

     ID
0  1614
1  1405
2   974
3  1055
4   307

In [25]:
df = pd.DataFrame(prediction_result)
df.head()

        0
0 6.11297
1 6.05659
2 4.88209
3 5.89970
4 6.63084

In [26]:
# Concat df to get results to submit
sample_result = pd.concat([new_df, df],axis=1)

In [27]:
sample_result.head()

     ID       0
0  1614 6.11297
1  1405 6.05659
2   974 4.88209
3  1055 5.89970
4   307 6.63084

In [33]:
sample_result.to_csv("WorldHappynessSubmission",index=False, header=False)
print(sample_result.to_csv(index=False, header=False))

1614,6.112969075016501
1405,6.056587188852877
974,4.882088330901041
1055,5.899701895173173
307,6.630842615680372
432,5.674925479224484
1466,4.74173162476994
598,4.939646161217208
1173,4.579669484314596
305,6.79583663270866
367,5.790883937287507
1612,5.936507872293468
1924,5.382164661158562
1935,4.615831396641752
1602,6.282057316465455
1357,6.0080340414433095
69,6.960555988436333
1608,6.059903944558801
438,5.8767203935332155
135,4.70659942286283
555,6.695074155772247
99,5.077786030182196
1054,5.933869960423891
1420,5.847381890495498
736,4.682630430639232
993,4.573588388506494
247,4.24106102239676
351,5.804288179264756
1422,6.673483866187848
56,4.332316045932888
1801,5.404856753179164
1605,6.034144515603799
1273,4.582885557336031
1665,4.347961153587367
1187,5.809650947763203
1027,4.950817001526094
111,6.242343099925137
1231,7.035499901106974
767,4.959342128547565
1322,4.824671595362581
1516,4.096976576325236
1343,6.272092392704483
70,7.026332888255048
1053,5.833480093436499
900,5.217236592876091
892,5.2175909081826255
1553,5.97647826610574
1208,5.092507279643108
1436,5.5672148764648774
1494,4.988461070226876
1341,6.148701884329853
680,4.210689006991977
1236,7.087449048352212
1163,5.626075587310563
210,5.6229037360343845
485,5.582849287398933
411,5.348490152969891
609,6.495133029971569
526,5.690242930933344
1483,4.878580268903196
1936,4.538478591594014
1607,5.8654895361027215
1804,5.376561384261386
1407,6.121679026789533
707,5.5800729697866025
552,6.8792651545174195
344,6.056575547534255
1331,4.214890678770196
1947,4.985545941592196
1324,4.516843952293108
1435,5.424780813178387
914,5.001759417879626
1889,5.262025612044177
120,4.229892239283924
1284,2.941604087728086
936,5.340519379454246
1773,6.3858434581424035
1543,5.99325963138725
239,5.609588540546678
746,4.950901986660963
1816,6.78696678003034
1489,5.1521056489625465
630,4.851846445793424
1239,5.481619077477454
843,5.825868457433046
1175,4.494691012278619
350,5.990428598613434
964,5.765279541863958
705,5.615635398608035
807,5.940039471335112
631,4.738108701353337
1392,5.564983737832382
999,5.515325102771616
1245,5.867101841908738
65,5.299894595979808
1461,5.670212442284832
1692,5.419044022026874
1629,5.208594747516216
1385,5.481454371017101
29,5.346131626713966
1510,4.380656269672933
678,4.623625225143041
1560,3.697249177690999
1626,5.8445446175878
813,6.250737344599525
1869,5.550779287549638
303,6.831614376082861
1278,5.032967191666071
128,4.808839257988694
352,5.751960377323346
1237,6.977474821209427
382,4.480268920632572
1709,5.17720015886681
1223,6.949607506645126
584,5.028192876134831
857,6.121295224607227
1825,6.882134835034574
1514,4.181204608448269
480,5.79457336668759
1877,6.394660140806899
1299,5.260300457216502
906,3.550757856831277
1200,4.836262554705318
1103,5.892279682646173
1340,6.124464398458798
583,4.963745909980371
1472,6.246929584722725
1222,6.978858733702577
1930,5.0084215916589265
785,4.7740548814772374
1161,5.484634780469509
486,5.5443495862563985
1418,5.868657139842345
109,5.705230145538668
275,5.9280042080570965
394,4.915295009560612
1036,4.52815236152178
188,5.393216969657459
1498,4.597517908459661
196,4.7755112679482075
254,4.737138560210443
297,6.929850526028389
670,4.527771051737755
1285,2.933496982829066
483,5.609518999048603
1672,5.611961654313383
694,5.264883447334228
306,6.723512761698107
231,5.864510800338799
1079,6.728537171728117
289,4.615245305823869
1774,6.260219319627161
251,4.728558212387455
548,4.9050986341597245
1939,5.205775723421109
1730,3.597541282111175
937,5.465884104663637
1596,2.4848828966437715
1657,6.882810245022895
233,5.216442607927572
1668,3.4343167992810955
535,6.069998208056873
1281,2.902522981242633
613,6.519652885168437
1078,6.746447125236596
879,5.7962853012911495
1383,5.405160724978515
1841,6.500638497527614
1204,4.882983849999135
1749,4.495718991017444
679,4.395881049850384
1395,5.747347993089569
23,5.154114097667872
324,4.1219646209056116
63,4.79140984900733
1043,4.440723485082589
1286,2.815984878180771
1090,5.35261677488009
1106,6.26522529684814
1404,6.13973712632929
212,5.608103114396258
744,4.8790574138371205
1271,5.2237091277191965
298,6.853724064063435
1754,5.0657768004226575
1864,6.477947188139815
100,5.292761934639664
1210,5.03547632310044
1888,5.800322266437018
1247,5.6772551896169645
1096,5.604911660826559
1240,5.643272107434463
1446,5.524512002862174
1428,5.062293660072989
237,5.256771205347103
704,5.7265352139119585
818,6.117964698315436
1473,6.345583377654833
909,4.626891559734915
115,6.80013808882126
588,5.202990901116461
1740,6.151114454744484
1474,6.304010539006725
619,6.538819437897658
453,7.111179937525375
982,5.157734900886869
433,5.964804439375953
353,6.223055860221532
1047,4.244843361162751
256,4.651562727276076
173,4.064552241728933
1359,6.145059182618578
1229,7.025716881378418
1221,7.021968682246506
720,5.874378451485864
1326,4.357038752148355
78,6.805248427693325
1009,5.45940655759529
1799,5.347514112983038
32,5.29008040539631
916,5.218489618216527
1787,4.838191743143508
1711,5.354570148127021
722,6.1443900187535725
124,4.699685938720606
1609,6.167297174226739
342,5.591337823583679
163,3.795856848469093
203,5.526706406155327
331,6.0030489278464145
1819,6.808834304687615
1505,5.384312817301801
1677,5.666855961335866
49,5.939224376881114
1345,6.2208019691625545
1542,6.073875114112539
1280,2.9314604813361456
781,4.42916238731155
1826,6.942150582754145
1033,4.6505877551820305
1393,5.641430565050573
1798,5.216186381644057
1475,6.250191646733359
420,5.637006076287491
1310,3.2547475406109783
1335,4.286370386601135
218,5.85666059183945
561,6.889893244210793
1880,6.249441477373473
802,5.766272269702462
987,4.199357880806936
374,4.830758668865869
809,6.033950294294961
1914,4.403836720375633
220,5.884371933968918
316,4.065627104541999
1444,5.482595673910918
59,4.595095135593002
270,4.890047379546058
416,4.979584179415706
73,6.760059479032364
162,5.390609542228102
576,6.351237179070573
752,5.8239900458276175
1755,4.687318549996263
1619,5.885507622667632
1686,5.133870110830234
518,5.352499898333864
45,6.076471232782634
903,5.241074924706059
1196,5.084986543037573
997,6.043831283379628
76,6.899301192606263
1866,5.625272617181292
1376,5.5555205514243085
1394,5.521854250646403
427,6.027247106771036
554,6.767302912589145
1467,5.739206054754362
777,4.410971164166618
30,5.246497473115742
1856,6.144557175362166
567,6.196970119814491
1001,5.436384186130816
1125,5.183307252700825
482,5.711181159961381
915,4.961132270270404
1511,3.89128540453396
1893,3.5211694625218612
478,5.932019225393063
1647,6.896564065448267
44,6.050684099248965
650,5.6091452890405336
168,4.1085974173619775
1502,5.027852666635958
1176,4.373506677985809
1874,6.668950018812165
575,6.406708316346769
700,5.7952647171169325
855,6.333083034094596
361,5.882735553145199
1911,4.3986266312796225
599,4.880531434377467
1289,4.775403003795933
591,4.401669801473123
1613,6.169370260564488
185,5.291700771177922
1352,6.161765096159236
1645,6.98671484678616
462,7.142052620895786
1290,5.0346382170468225
1726,5.9532313114028454
628,4.8632798886484565
1561,3.62461026852084
1884,6.05372111790501
1882,6.014805708197482
1624,6.106245192383774
922,6.386741936316874
479,5.875423916437185
984,4.962814726726055
1571,5.563806849143667
123,4.71327128338806
514,5.344555791636623
1863,6.287052188790849
507,5.024297482155713
963,5.792814533527633
354,6.375798849894949
439,5.894532768974937
366,5.878184370121552
194,4.621662929932999
543,4.46668302082178
1712,6.089144032239041
1671,6.140147708390341
322,4.378575924685695
1164,2.429576232127717
266,5.406625524742676
755,5.996937234531121
67,6.853895248262074
1423,3.4041636465706215
611,6.597896889680115
1940,5.111620783538481
602,4.937123286179336
429,5.48123938827392
1453,5.909582807843645
414,5.16303335995941
1927,4.820754309675383
838,4.680261026425605
383,4.61965560633579
1594,5.83256374884299
741,4.757920661423899
940,5.845191642181408
1288,4.866780695646348
1492,5.362051120917286
1540,5.8551951793104
1618,5.928262738998292
674,4.440655084971883
792,6.812123721254629
529,5.8253176228743975
921,6.267417767351656
1347,6.080703903531408
1644,6.875726916012777
261,4.005709893294952
1274,5.10792128515239
240,5.739569644665263
772,3.0703377593598375
1606,6.025595239840197
620,6.573032115624557
1057,5.877566683631841
519,5.3675538033751415
365,5.9174098299198015
988,4.886864324914871
570,6.3348006477709475
1202,4.80908892615421
450,7.033089811130594
780,4.7007204571755
71,6.909130718899988
836,4.531151232080731
259,3.4823852150900585
51,5.872724579163979
593,4.5771882672189435
471,5.764490913100648
614,6.718827531555348
332,5.825719321952967
1634,5.226773231699834
1568,5.397657672295328
618,6.598718143802454
426,5.927471887337987
966,5.844807300224641
849,6.256002238001486
1600,6.3642693502683585